:root {
  --primary: #001d03;
  --fc1: #ffffff;
  --fc2: #00e0c6;
  --fc3: #210964;
  --fc4: #3063ee;
  --fc5: #003731;
  --fc6: #001d03;
  --fc7: #1a1717;
  --ff-sanchez: url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap');
  --ff-redrose: url('https://fonts.googleapis.com/css2?family=Red+Rose&display=swap');
  --ff-ruda: url('https://fonts.googleapis.com/css2?family=Ruda&display=swap');
  --ff-play: url('https://fonts.googleapis.com/css2?family=Play&display=swap');
  --ff-inter: url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
  --ff-roboto: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
}
body {
  background-color: var(--fc7);
  overflow: overlay;
}
::-webkit-scrollbar {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--fc1);
  border-radius: 10px;
}
::-webkit-scrollbar-corner {
  border-radius: 10px;
  background: var(--fc1);
}
.navbar {
  position: sticky;
  justify-content: space-between;
  display: flex;
  align-items: center;
  background-color: var(--fc5);
  padding-right: 20px;
}
.navbar-left {
  display: flex;
  gap: 50px;
}
.navbar-logo {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  padding: 10px 30px;
}
.navbar-left .frog {
  width: 50px;
  height: auto;
}
.navbar-left .txt {
  width: 80px;
  height: auto;
}
.nvbr li {
  list-style-type: none;
  display: inline-flex;
  padding: 0px 0px;
  position: relative;
}
.nvbr li a button {
  cursor: pointer;
  display: block;
  color: var(--fc2);
  font-weight: 600;
  font-size: 20px;
  text-transform: capitalize;
  width: 90px;
  height: 70px;
  text-decoration: none;
  background-color: transparent;
}
.nvbr li:hover {
  color: var(--fc1);
  background-color: var(--fc6);
}
.nvbr li a .java {
  background-color: var(--fc6);
}
.navbar-right {
  position: relative;
  display: flex;
  justify-content: end;
  padding-right: 0%;
}
.searchbar {
  overflow: hidden;
  padding: 10px;
  align-items: center;

  display: flex;
  width: 200px;
  height: 35px;
  border-radius: 40px;
  background-color: var(--fc1);
}
.searchbar input {
  width: 160px;
  height: 30px;
  outline: none;
}
.searchbar button {
  background-color: transparent;
  width: max-content;
  height: 40px;
  border-radius: 5px;
}
.searchbar button i {
  width: 30px;
  height: 10px;
  margin-right: 5px;
  cursor: pointer;
}
