@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Ruda:wght@600&family=Ropa+Sans&family=Sanchez&family=Play&family=Roboto&family=Play&family=Red+Rose&display=swap');
:root {
  --primary: #001d03;
  --fc1: #ffffff;
  --fc2: #00e0c6;
  --fc3: #210964;
  --fc4: #3063ee;
  --fc5: #003731;
  --ff-sanchez: 'Sanchez';
  --ff-redrose: 'Red Rose';
  --ff-ruda: 'Ruda';
  --ff-play: 'Play';
  --ff-inter: 'Inter';
  --ff-roboto: 'Roboto';
  --ff-ropa: 'Ropa Sans';
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
}
body {
  background-color: var(--fc5);
  width: 100vw !important;
  height: 100vh !important;
}
::-webkit-scrollbar {
  /* background: var(--fc1); */
  display: none;
  width: 5px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  width: 5px;
}
::-webkit-scrollbar-corner {
  border-radius: 10px;
  background: var(--fc1);
}
header {
  position: sticky !important;
  width: 100vw;
  display: block;
  top: 0;
}
main {
  height: calc(100vh-70px) !important;
  display: flex;
  flex-direction: row;
}
.leftcontent {
  width: 180px;
}
.rightcontent {
  width: calc(100vw - 180px) !important;
}
aside {
  position: fixed;
  overflow-y: scroll;
}
.special {
  background: var(--fc2);
  background-color: var(--fc2);
}
.special:focus {
  background-color: var(--fc2);
}
footer {
  display: flex;
  justify-content: end;
  right: 0;
}

/* --aside start-- */
.sidebar {
  position: relative;
  background-color: black;
  width: 180px;
  height: 100vh;
  left: 0;
  overflow: scroll;
}
.container-img {
  align-items: center;
  align-content: center;
  width: 180px;
  height: 70px;
}
.container-img :nth-child(1) {
  position: relative;
  height: 70px;
  width: 180px;
}
.container-img :nth-child(2) {
  position: absolute;
  width: 45px;
  height: auto;
  top: 10px;
  right: 20px;
}
.list-side a {
  font-family: var(--ff-ropa);
  display: block;
  overflow-x: scroll;
  /* background-color: var(--fc2); */
  padding: 5px 20px;
  color: var(--fc1);
  font-size: 20px;
}
.list-side button {
  height: auto;
  width: max-content;
  font-family: var(--ff-ropa);
  display: block;
  overflow-x: scroll;
  background: transparent;
  padding: 5px 20px;
  color: var(--fc1);
  font-size: 20px;
}
/* --aside end-- */
/* --article start-- */
article {
  justify-content: end;
  right: 0;
  width: calc(100vw - 180px);
  display: flex;
  background-color: rebeccapurple;
}
.content {
  height: 200px;
  right: 0;
  width: calc(100vw - 180px);
  /* background-color: red; */
}
.line {
  right: 0;
  position: relative;
  display: flex;
  width: calc(100vw - 200px);
  height: 3px;
  background-color: gray;
}
/* --article end-- */
