/* -----------------Style For Edit-------------- */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Ruda:wght@600&family=Sanchez&family=Play&family=Roboto&family=Play&family=Red+Rose&display=swap');
:root {
  --primary: #001d03;
  --fc1: #ffffff;
  --fc2: #00e0c6;
  --fc3: #210964;
  --fc4: #3063ee;
  --fc5: #003731;
  --ff-sanchez: 'Sanchez';
  --ff-redrose: 'Red Rose';
  --ff-ruda: 'Ruda';
  --ff-play: 'Play';
  --ff-inter: 'Inter';
  --ff-roboto: 'Roboto';
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
}
body {
  overflow: hidden;
  background-color: var(--primary);
}

.main {
  background-color: var(--primary);
}
.edit-box {
  position: fixed;
  gap: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 20px;
  width: 450px;
  background-color: var(--fc5);
  border-radius: 15px;
  text-align: center;
}

.comment-box {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  border-radius: 10px;
  min-width: 400px;
  height: 200px;
}
.comment-box {
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding: 10px 20px;
  border-radius: 10px;
  min-width: 400px;
  height: 200px;
  background-color: var(--fc5);
}
.comment-top {
  display: flex;
  justify-content: space-between;
}
.user-comment {
  width: auto;
  height: 45px;
}
.user-comment h2 {
  display: flex;
  color: var(--fc1);
  font-family: var(--ff-sanchez);
  font-size: 20px;
  text-transform: capitalize;
}
.user-comment h4 {
  color: var(--fc1);
  font-family: var(--ff-sanchez);
  font-size: 15px;
  text-transform: capitalize;
}
.txt-comment {
  text-align: justify;
  text-justify: inter-word;
  display: flex;
  height: 135px;
  width: 360px;
  justify-content: center;
  align-items: center;
}
.txt-comment h2 {
  display: flex;
  color: var(--fc1);
  font-family: var(--ff-ruda);
  font-size: 15px;
}
.wrap-icon {
  display: flex;
  gap: 15px;
}
.checklist {
  align-items: center;
  display: inline;
  cursor: pointer;
}
.back {
  color: var(--fc1);
  cursor: pointer;
}
