@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Ruda:wght@600&family=Sanchez&family=Play&family=Roboto&family=Play&family=Red+Rose&display=swap');
:root {
  --primary: #001d03;
  --fc1: #ffffff;
  --fc2: #00e0c6;
  --fc3: #210964;
  --fc4: #3063ee;
  --fc5: #003731;
  --ff-sanchez: 'Sanchez';
  --ff-redrose: 'Red Rose';
  --ff-ruda: 'Ruda';
  --ff-play: 'Play';
  --ff-inter: 'Inter';
  --ff-roboto: 'Roboto';
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  background-color: var(--primary);
}
body {
  overflow: hidden;
}

.form-box {
  z-index: 30;
  position: fixed;
  gap: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 40px;
  width: 450px;
  background-color: var(--fc5);
  visibility: visible;
  border-radius: 15px;
  text-align: center;
}
.home {
  background: var(--primary);
  font-size: 20px;
  margin-bottom: 10px;
  color: var(--fc2);
  font-family: var(--ff-sanchez);
  text-transform: capitalize;
  position: relative;
  border-radius: 5px;
}
.form-box h1 {
  background: transparent;
  font-size: 30px;
  margin-bottom: 20px;
  color: var(--fc2);
  font-family: var(--ff-play);
  text-transform: capitalize;
  position: relative;
}
.form-box h1::after {
  content: '';
  width: 30px;
  height: 4px;
  border-radius: 3px;
  background: var(--fc1);
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translate(-50%);
}
.input-group {
  background: transparent;
  border: none !important;
}
.inputfield {
  background: #eaeaea;
  margin: 15px 0px;
  border-radius: 2px;
  display: flex;
  text-align: center;
  height: 40px;
  align-items: center;
}
.inputfield i {
  background-color: transparent;
  margin-left: 5px;
}
.inputfield input {
  width: 100%;
  background: transparent;
  border: 0;
  outline: 0;
  padding: 15px 15px;
}
.btn-field {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: transparent;
}
.btn-field button {
  cursor: pointer;
  flex-basis: 45%;
  border: 0;
  outline: 0;
  background: var(--fc2);
  border-radius: 20px;
  height: 40px;
}
.regis {
  background: transparent;
  color: var(--fc1);
  font-family: var(--ff-play);
}
