@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Ruda:wght@600&family=Ropa+Sans&family=Sanchez&family=Play&family=Roboto&family=Play&family=Red+Rose&display=swap');
:root {
  --primary: #001d03;
  --fc1: #ffffff;
  --fc2: #00e0c6;
  --fc3: #210964;
  --fc4: #3063ee;
  --fc5: #003731;
  --ff-sanchez: 'Sanchez';
  --ff-redrose: 'Red Rose';
  --ff-ruda: 'Ruda';
  --ff-play: 'Play';
  --ff-inter: 'Inter';
  --ff-roboto: 'Roboto';
  --ff-ropa: 'Ropa Sans';
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
}
body::-webkit-scrollbar {
  background: transparent;
  display: none;
}
::-webkit-scrollbar-thumb {
  background: var(--fc1);
  border-radius: 10px;
}
::-webkit-scrollbar-corner {
  border-radius: 10px;
  background: var(--fc1);
}
body {
  background-color: var(--primary);
  width: 100vw;
  max-width: 100%;
  overflow: overlay;
  -webkit-font-smoothing: antialiased;
}
section {
  width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
}
/* -Section start-*/
.main {
  background-image: url('../assets/img/Rectangle.png');
  background-size: cover;
  min-width: 100%;
  min-height: 100vh;
  background-position: center;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  position: relative;
}
/* --Header start-- */
.navbar {
  top: 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 1.4rem;
  flex-direction: row;
}
.container-nav-logo {
  padding: 10 0 0 0px;
}
.navbar-logo img {
  width: 75px;
  height: auto;
  position: relative;
  display: flex;
  align-items: center;
  left: 40px;
}
.navbar-logo1 img {
  width: 150px;
  height: auto;
  position: relative;
  display: flex;
}
.user-info {
  overflow: hidden;
  display: flex;
  align-items: center;
  font-family: var(--ff-redrose);
  font-weight: bold;
  color: var(--fc4);
}
.navbar-item {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem 1rem 1rem 1rem;
  position: relative;
  color: #00e0c6;
  font-family: var(--ff-ruda);
}
.navbar-item a {
  padding: 0 2.7rem 0 2.7rem;
  font-size: 1rem;
  font-family: var(--ff-redrose);
  font-weight: bold;
  color: var(--fc2);
}
.navbar-item a:hover {
  color: aliceblue;
}
/* --Header end-- */
/* --Main Content start-- */
.main-content {
  height: calc(100vh - 100px);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.mc-1 {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  margin-top: 120px;
  gap: 20px;
}
.mc-1 h2 {
  color: var(--fc2);
  font-family: var(--ff-redrose);
  font-weight: 900;
  font-size: 40px;
  position: relative;
  display: flex;
}
.mc-img1 {
  width: auto;
  height: 40px;
  position: relative;
  display: flex;
}
.main-content .mc-2 {
  color: var(--fc1);
  font-family: var(--ff-ruda);
  font-size: 20px;
  margin-bottom: 55px;
  font-weight: 900;
}
.main-content .square {
  width: 200px;
  height: 50px;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  display: flex;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  color: var(--fc1);
  font-family: var(--ff-ruda);
  font-size: 30px;
  font-weight: 900;
  position: relative;
  isolation: isolate;
}
.square::after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: var(--fc2);
  opacity: 0.5;
  border-radius: 15px;
}
.square:hover {
  color: var(--fc2);
  background-color: var(--fc4);
  border-radius: 15px;
}
/* --Main Content end-- */
/* -Section end- */
/* -Section2 start- */
.main-content2 {
  display: flex;
  position: relative;
}
/* .main2 {
} */
/* --Main Content2 start */
.mc2 {
  padding: 80px 0 0 100px;
  display: flex;
  gap: 170px;
  position: relative;
  width: 100%;
}
.mc2-img1 {
  display: flex;
  width: 250px;
  height: 250px;
  position: relative;
}
.mc2-txt1 {
  width: 550px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.mc2-txt1-1 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: start;
  margin-bottom: 20px;
  gap: 10px;
}
.mc2-txt1-1 img {
  width: auto;
  height: 40px;
  position: relative;
  display: flex;
}
.mc2-txt1-1 h2 {
  color: var(--fc2);
  font-family: var(--ff-play);
  font-size: 40px;
  font-weight: 900;
  position: relative;
  display: flex;
}
/* .mc2-txt1-2 {
} */
.mc2-txt1-2 img {
  width: auto;
  height: 20px;
  position: relative;
  display: flex;
  float: left;
}
.mc2-txt1-2 h1 {
  color: var(--fc1);
  font-family: var(--ff-sanchez);
  font-weight: 300;
  font-size: 20px;
  text-align: justify;
}
.linemc2 {
  width: 210px;
  height: 3px;
  background-color: var(--fc2);
  margin: 30px 0 10px 30px;
}
/* --Main Content2 end */
/* --footer start-- */
.footer-mc2 {
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  height: calc(100vh - 330px);
}
.container-footer-mc2 {
  display: flex;
  position: relative;
  align-items: center;
}
.line-ftr-mc2-left {
  width: 300px;
  height: 3px;
  background-color: var(--fc2);
  margin-right: 2rem;
}
.mc2-ftr-word {
  display: flex;
  position: relative;
  color: #00e0c6;
  font-family: var(--ff-play);
  font-size: 50px;
}
.line-ftr-mc2-right {
  width: 300px;
  height: 3px;
  background-color: var(--fc2);
  margin-left: 2rem;
}
/* --footer end-- */
/* -Section2 end- */
/* -Section3 start- */
.main3 {
  background-image: url('../assets/img/mikhail-fesenko-p6YWrjhmjhM-unsplash.png');
  min-width: auto;
  min-height: 80vh;
  background-position: center;
  background-size: cover;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
}
.main-content3 {
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}
.card1 {
  width: 300px;
  height: 400px;
  display: block;
  position: relative;
  isolation: isolate;
}
.cntnr-vid1 {
  width: 300px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card1 iframe {
  border-radius: 15px;
}
.card1::after {
  content: '';
  position: absolute;
  display: flex;
  inset: 0;
  z-index: -1;
  background: var(--fc5);
  opacity: 0.5;
  border-radius: 15px;
}
.card1 h2 {
  display: flex;
  position: relative;
  text-align: justify;
  width: 300px;
  height: 80px;
  padding-left: 40px;
  padding-right: 40px;
  font-weight: 500;
  font-family: var(--ff-inter);
  color: var(--fc1);
  font-size: 17px;
}
.line-card1 {
  width: 300px;
  height: 3px;
  background-color: var(--fc2);
}
.card1 .ftr-card1 h2 {
  font-size: 13px;
  font-weight: 300;
  padding-top: 10px;
  border-radius: 0 0 15px 15px;
  width: fit-content;
  height: 137px;
}
.card2 {
  width: 300px;
  height: 400px;
  display: block;
  position: relative;
  isolation: isolate;
}
.cntnr-vid2 {
  width: 300px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card2 iframe {
  border-radius: 15px;
}
.card2::after {
  content: '';
  position: absolute;
  display: flex;
  inset: 0;
  z-index: -1;
  background: var(--fc5);
  opacity: 0.5;
  border-radius: 15px;
}
.card2 h2 {
  display: flex;
  position: relative;
  text-align: justify;
  width: 300px;
  height: 80px;

  padding-left: 40px;
  padding-right: 40px;
  font-weight: 500;
  font-family: var(--ff-inter);
  color: var(--fc1);
  font-size: 17px;
}
.line-card2 {
  width: 300px;
  height: 3px;
  background-color: var(--fc2);
}
.card2 .ftr-card2 h2 {
  font-size: 13px;
  font-weight: 300;
  padding-top: 10px;
  border-radius: 0 0 15px 15px;
  width: fit-content;
  height: 137px;
}
.card3 {
  width: 300px;
  height: 400px;
  display: block;
  position: relative;
  isolation: isolate;
}
.cntnr-vid3 {
  width: 300px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card3 iframe {
  border-radius: 15px;
  margin-top: 10px;
}
.card3::after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  background: var(--fc5);
  opacity: 0.5;
  border-radius: 15px;
}
.card3 h2 {
  display: flex;
  position: relative;
  text-align: justify;
  width: 300px;
  height: 80px;
  padding-left: 40px;
  padding-right: 40px;
  font-weight: 500;
  font-family: var(--ff-inter);
  color: var(--fc1);
  font-size: 17px;
}
.line-card3 {
  width: 300px;
  height: 3px;
  background-color: var(--fc2);
}
.card3 .ftr-card3 h2 {
  font-size: 13px;
  font-weight: 300;
  padding-top: 10px;
  border-radius: 0 0 15px 15px;
  width: fit-content;
  height: 137px;
}
/* -Section3 end- */
/* -Section4 start- */
.main4 {
  height: auto;
  overflow: hidden;
}
.main-content4 {
  display: flex;
  height: auto;
  justify-content: space-evenly;
  gap: 100px;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.cntnr-cpp {
  width: 200px;
  height: auto;
  justify-content: center;
  position: relative;
}
.cntnr-txt-cpp {
  padding-top: 20px;
  justify-content: center;
  display: flex;
  position: relative;
  color: var(--fc2);
  font-size: 25px;
  font-weight: 900;
  font-family: var(--ff-play);
}
.logo-cpp {
  display: flex;
  position: relative;
  width: 200px;
  height: 200px;
  background-color: black;
  border-radius: 60px;
  justify-content: center;
  align-items: center;
}
.logo-cpp img {
  width: 100px;
  height: 110px;
}
.cntnr-py {
  width: 200px;
  height: auto;
  justify-content: center;
  position: relative;
}
.cntnr-txt-py {
  padding-top: 20px;
  justify-content: center;
  display: flex;
  position: relative;
  color: var(--fc2);
  font-size: 25px;
  font-weight: 900;
  font-family: var(--ff-play);
}
.logo-py {
  display: flex;
  position: relative;
  width: 200px;
  height: 200px;
  background-color: black;
  border-radius: 75px;
  justify-content: center;
  align-items: center;
}
.logo-py img {
  width: 140px;
  height: 130px;
}
.cntnr-java {
  width: 200px;
  height: auto;
  justify-content: center;
  position: relative;
}
.cntnr-txt-java {
  padding-top: 20px;
  justify-content: center;
  display: flex;
  position: relative;
  color: var(--fc2);
  font-size: 25px;
  font-weight: 900;
  font-family: var(--ff-play);
}
.logo-java {
  display: flex;
  position: relative;
  width: 200px;
  height: 200px;
  background-color: black;
  border-radius: 75px;
  justify-content: center;
  align-items: center;
}
.logo-java img {
  width: 120px;
  height: 120px;
}
.container-cmmnt {
  overflow-x: scroll;
  gap: 50px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  height: 50vh;
  align-items: center;
}
.comment-box {
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding: 10px 20px;
  border-radius: 10px;
  min-width: 400px;
  height: 200px;
  background-color: var(--fc5);
}
.comment-top {
  display: flex;
  justify-content: space-between;
}
.user-comment {
  width: auto;
  height: 45px;
}
.user-comment h2 {
  color: var(--fc1);
  font-family: var(--ff-sanchez);
  font-size: 20px;
  text-transform: capitalize;
}
.user-comment h4 {
  color: var(--fc1);
  font-family: var(--ff-sanchez);
  font-size: 15px;
  text-transform: capitalize;
}
.icons {
  gap: 10px;
  display: flex;
}
.close {
  margin-top: 10px;
  width: 30px;
  height: 30px;
  background: transparent;
}
.close :hover {
  cursor: pointer;
}
.close i {
  color: var(--fc1);
}
.edit {
  margin-top: 10px;
  width: 30px;
  height: 30px;
  background: transparent;
}
.edit :hover {
  cursor: pointer;
}
.edit i {
  color: var(--fc1);
}
.txt-comment {
  text-align: justify;
  text-justify: inter-word;
  display: flex;
  height: 135px;
  width: 360px;
  justify-content: center;
  align-items: center;
}
.txt-comment h2 {
  display: flex;
  color: var(--fc1);
  font-family: var(--ff-ruda);
  font-size: 15px;
}
.footer-main4 {
  background-color: #094740;
  display: block;
  justify-content: space-around;
}
.abt-us {
  position: relative;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.line-abt-us-left {
  height: 5px;
  width: 25vw;
  background-color: var(--fc2);
  position: relative;
}
.cntct-us {
  font-family: var(--ff-play);
  font-size: 50px;
  color: var(--fc2);
  position: relative;
  display: flex;
  padding: 10px 50px;
}
.line-abt-us-right {
  height: 5px;
  width: 25vw;
  background-color: var(--fc2);
  position: relative;
}
.ftr-btm {
  position: relative;
  display: flex;
  padding: 30px 30px;
  justify-content: space-around;
}
/* .btm-left {
} */
.container-info {
  flex-direction: column;
  gap: 20px;
  display: flex;
}
.info-txt img {
  width: 150px;
  height: auto;
}
.info-txt h2 {
  font-family: var(--ff-inter);
  font-weight: 300;
  width: 500px;
  height: auto;
  font-size: 18px;
  text-align: justify;
  color: var(--fc1);
  margin-bottom: 50px;
}
.build {
  gap: 20px;
  width: auto;
  height: 50px;
  display: flex;
  align-items: center;
}
.build img {
  width: 45px;
  height: 50px;
  position: relative;
  display: flex;
}
.txt-build {
  width: 400px;
  height: 55px;
  flex-direction: column;
  display: flex;
  align-items: start;
  justify-content: center;
}
.txt-build h2 {
  display: flex;
  position: relative;
  text-transform: capitalize;
  color: var(--fc1);
  font-size: 15px;
  font-family: var(--ff-inter);
  font-weight: 200;
}
.phone {
  gap: 20px;
  width: auto;
  height: 50px;
  display: flex;
  align-items: center;
}
.phone img {
  width: 40px;
  height: 40px;
  position: relative;
  display: flex;
}
.txt-phone {
  width: 400px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: start;
}
.txt-phone h2 {
  display: flex;
  position: relative;
  text-transform: uppercase;
  color: var(--fc1);
  font-size: 15px;
  font-family: var(--ff-inter);
  font-weight: 200;
}
.mail {
  gap: 20px;
  width: auto;
  height: 50px;
  display: flex;
  align-items: center;
}
.mail img {
  width: 45px;
  height: 35px;
  position: relative;
  display: flex;
}
.txt-mail {
  width: 400px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: start;
}
.txt-mail h2 {
  display: flex;
  position: relative;
  text-transform: lowercase;
  color: var(--fc1);
  font-size: 15px;
  font-family: var(--ff-inter);
  font-weight: 200;
}
.container-input-ftr {
  gap: 20px;
  padding: 20px 40px;
  width: 500px;
  height: 400px;
  border-radius: 20px;
  background-color: var(--fc5);
  display: flex;
  flex-direction: column;
}
.input-ftr-1 {
  display: flex;
  align-items: center;
  justify-content: start;
  width: auto;
  height: 50px;
  background-color: var(--fc1);
  border-radius: 10px;
  padding: 10px;
}
.input-ftr-1 input {
  width: 400px;
  height: 40px;
}
.input-ftr-2 {
  display: flex;
  align-items: center;
  justify-content: start;
  width: auto;
  height: 50px;
  background-color: var(--fc1);
  border-radius: 10px;
  padding: 10px;
}
.input-ftr-3 input {
  width: 400px;
  height: 40px;
}
.input-ftr-3 {
  display: flex;
  align-items: center;
  justify-content: start;
  width: auto;
  height: 50px;
  background-color: var(--fc1);
  border-radius: 10px;
  padding: 10px;
}
.input-ftr-2 input {
  width: 400px;
  height: 40px;
}
.input-ftr-4 {
  display: flex;
  width: auto;
  height: 150px;
  background-color: var(--fc1);
  border-radius: 10px;
  padding: 10px;
}
.input-ftr-4 textarea {
  width: 400px;
  height: 130px;
  font-family: sans-serif;
}
.send {
  display: flex;
  width: auto;
  height: 40px;
  justify-content: end;
  align-items: center;
}
.snd {
  background-color: transparent;
}
.snd:hover {
  cursor: pointer;
}
.snd img {
  display: flex;
  width: 100px;
  height: auto;
}
/* -Section4 end- */
